.search-bar {
  display: flex;
  flex-direction: row-reverse;
  flex: 1;
  border-radius: 0.25rem;
  background-color: var(--primary-color);
  border: 1px solid white;
}

.search-input,
.search-btn {
  font-size: 0.9em;
  border-radius: inherit;
  outline: none;
  border: none;
  background: transparent;
}

.search-input {
  padding: 0.5rem 0.5rem 0.5rem 0;
  width: 100%;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.search-btn {
  padding: 0.5rem;
  color: white;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

input[type="search"].search-input::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

.search-input:focus,
.search-input:focus + .search-btn {
  background-color: white;
  color: var(--primary-color);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset;
  background-color: white;
}

input:-webkit-autofill {
  -webkit-text-fill-color: var(--primary-color);
}
